@font-face {
    font-family: Redemption;
    src: url(Redemption.ttf);
}

.home {
    background: #F5FFFA;
}

navbar {
    overflow-x: auto;
}


img {
  max-width:100%;
  max-height:250px;
  display:block;
}

.welcome {
    font-family: 'Amatic SC';;
    text-align: center
}

.suggestion {
    min-width: 750px;
    overflow-x: auto;
}

.btn-circle {
    display:none;
}


.serie-search {
    padding: 0px
}

.series-results {
    border-right : 2px solid white
}

.movie-search {
    padding: 0px
}

.serie:hover .btn-circle{
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    padding: 6px 0px;
    border: 1px solid white;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
    background: #343a40;
    color: white;
}

.list {
    background-image: url("../assets/fond2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.name {
    white-space:nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: white;
    padding-right: 0px;
    padding-left: 0px;
    font-size: 20px;
    font-family: 'Playfair Display', serif;
}

.search {
    max-width: 203px;
}

.list {
    padding-left: 0px;
    padding-right: 0px;
}

.genre {
    max-width: 215px;
}

.add {
    position: relative;
    vertical-align: middle;
    text-align: center;
}

.episode-string {
    display: none
}

.serie:hover .episode-string {
    display: block;
    position: absolute;
    color: white;
    background: #343a40;
    color: white;
    width: 40%;
    
    }

.movie-search:hover .btn-circle{
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    padding: 6px 0px;
    border: 1px solid white;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
    background: #343a40;
    color: white;
}

.hidden {
    display:none;
}

.notif {
    background: grey;
}

.serie-search:hover .btn-circle{
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    padding: 6px 0px;
    border: 1px solid white;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
    background: #343a40;
    color: white;
}

.active:hover {
    cursor: pointer;
}

test {
    max-width: 100%;
}


