#sidebar {
    overflow-y: auto;
}

.list-group {
    min-height: 300px;
    max-height: 300px;
}

.list-group-item {
    max-height: 35px;
}

.im-episode {
    float: left;
    max-width: 50%;
    max-height: 300px;
}

.name {
    font-family: Redemption
}

.rounded {
    border: 1px solid white;
}

.overview {
    vertical-align: middle !important;
}

.episode {
    background: url("../assets/fond2.jpg");
    color: white;
    max-height: 400px;
    overflow-y: auto;
}
.season {
    border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px);
    overflow-y: auto;
}

.rating {
    float: left;
    display: flex;
    flex-direction : row-reverse;
}

.rating .undergrade {
   color: orange;
   cursor: pointer;
}

.rating a {
   float: left;
   text-decoration: none;
   font-size: 3em;
   transition: color .4s;
}
.rating a:hover,
.rating a:focus,
.rating a:hover ~ a,
.rating a:focus ~ a {
   color: orange;
   cursor: pointer;
}

.serie-carrousel:hover .btn-circle{
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
    top: 150px;
    right: 90px;
}




