.list-group {
    min-height: 300px;
    max-height: 300px;
}

.list-group-item {
    max-height: 35px;
}

.titre-episode {
    background: #2F4F4F;
}

.name {
    font-family: Redemption
}

.serie-header {
    border-top: 2px solid grey;
    border-left: 2px solid grey;
    border-right: 2px solid grey;
}

.season {
    border: 1px solid grey;
    border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px);
    overflow-y: auto;
}
