#sidebar {
    max-height: 500px;
    overflow-y: auto;
}

.list-group {
    min-height: 300px;
    max-height: 300px;
}

.list-group-item {
    max-height: 35px;
}

.im-episode {
    float: left;
    max-width: 50%;
    max-height: 300px;
}

.name {
    font-family: Redemption
}

.rounded {
    border: 1px solid white;
}

.overview {
    vertical-align: middle !important;
}

.episode {
    background: url("../assets/fond2.jpg");
    color: white;
    max-height: 400px;
    overflow-y: auto;
}
.season {
    border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px);
    overflow-y: auto;
}
