<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Amatic SC' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif|Playfair+Display&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/side.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/head.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/serie.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/home.css') }}">
</head>
<body>

{% block header %}
<nav class="w-100 navbar nav-home">
    <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarSupportedContent">
        <div class="d-flex flex-row">
            {% if g.search_form %}
                <form class="pl-2 form-inline my-2 my-lg-0" method="get"
                        action="/search" id="function_search_form">
                    <div class="form-group mr-1">
                        {{ g.search_form.s(size=20, class='form-control',
                            placeholder=g.search_form.s.label.text) }}
                    </div>
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            {% endif %}
        </div>
        <img src="{{url_for('static', filename='assets/LogoNom.png') }}" height=90 width=auto class="center">
        <a href="/logout">
            <button class="btn btn-default">
                <div>
                    Logout
                    <i class="fa fa-power-off"></i>
                </div>
            </button>
        </a>
    </div>
</nav>
{% endblock %}
<div class="d-flex flex-row justify-content-between">
    <nav id="sidebar">
        <ul class="list-unstyled components">
            <li class="active">
                <a href="{{ url_for('home') }}"> <i class="fa fa-home"></i> &nbsp; Home</a>
            </li>
            <li class="active">
                <a href="{{ url_for('myserie') }}"><i class="fas fa-video" ></i>&nbsp; My Series</a>
            </li>
            <li class="active">
                <a href="{{ url_for('mymovies') }}"><i class="fas fa-film"></i>&nbsp; My Movies</a>
            </li>
            <li class="active">
                <a href="{{ url_for('upcomingEpisodes') }}"><i class="fas fa-calendar-check"></i>&nbsp; Upcoming Episodes</a>
            </li>
            <li class="active">
                <a href="{{url_for('topRated', media='tv', page=1 )}}"><i class="fa fa-star"></i>&nbsp; Best Series</a>
            </li>
            <li class="active">
                <a href="{{url_for('topRated', media='movie', page=1 )}}"><i class="fa fa-star"></i>&nbsp; Best Movies</a>
            </li>
            <li class="active">
                <a class="dropdown-toggle" data-toggle="collapse" data-target="#genreSubmenu" role="button"
                   aria-expanded="false" aria-controls="genreSubmenu">
                    <i class="fa fa-list"></i> &nbsp; TV Genres
                </a>
                <ul class="collapse list-unstyled" id="genreSubmenu">
                    {% for genre in tv_genres %}
                    <li>
                        <a href="{{url_for('genre', media='tv', genre=genre.name, page=1 )}}">{{genre.name}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </li>
            <li class="active">
                <a class="dropdown-toggle" data-toggle="collapse" data-target="#genreSubmenu2" role="button"
                   aria-expanded="true" aria-controls="genreSubmenu">
                    <i class="fa fa-list"></i> &nbsp; Movie Genres
                </a>
                <ul class="collapse list-unstyled" id="genreSubmenu2">
                    {% for genre in movie_genres %}
                    <li>
                        <a href="{{url_for('genre', media='movie', genre=genre.name, page=1 )}}">{{genre.name}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
    </nav>
    <hr>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    {% block content %}
    {% endblock %}
</div>

</body>
</html>
