<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/side.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/login.css') }}">
</head>
<body>

<div class="h-100 login">
    <h1 class="pt-5">Welcome to SerieGenda !</h1>
    <div class="w-100 d-flex justify-content-center">
        <form class="w-50 login-input">
            LOGOOOO
            <div class="d-flex flex-row justify-content-center">
                <img src="../static/assets/login2.png" width="80px" height="80px" class="m-3 rounded-circle">
                <div class="d-flex flex-column">
                    <input class="m-2 form-control" type="text" placeholder="Enter your username">
                    <input class="m-2 form-control" type="password" placeholder="Enter your password">
                </div>
                <div class="d-flex flex-column pl-2">
                    <button class="m-2 btn btn-primary" type="button">
                        Register
                    </button>
                    <button class="m-2 btn btn-success" type="button">
                        Log In
                    </button>
                </div>
            </div>
        </form>
    </div>

</div>
</body>
