{% extends "media.html" %}

{% block center_media %}
<div class="m-3 home w-100 d-flex flex-column">
    <div class="d-flex flex-row">
        <div class="card episode m-3">
            <div class="titre-episode card-header d-flex flex-row justify-content-between">
                {{media.name}}
            </div>
            <div class="card-body d-flex flex-row justify-content-between">
                <img class="rounded im-episode" src="https://image.tmdb.org/t/p/w500{{media.image}}">
                <div class="m-2">
                    {{media.description}}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

