{% extends "base.html" %}
{% block header %}
<nav class="w-100 navbar navbar-expand-lg">
    <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarSupportedContent">
        <div class="rating">
            {% if user.is_graded('movie', movie.id) %}
            {% if user.get_grade('movie',movie.id) >= 9.0 %}
            <a class="undergrade" href="/rate/5" title="Donner 5 étoiles">☆</a>
            {% else %}
            <a href="/rate/5" title="Donner 5 étoiles">☆</a>
            {% endif %}
            {% if user.get_grade('movie',movie.id) >= 7.0 %}
            <a class="undergrade" href="/rate/4" title="Donner 4 étoiles">☆</a>
            {% else %}
            <a href="/rate/4" title="Donner 4 étoiles">☆</a>
            {% endif %}
            {% if user.get_grade('movie',movie.id) >= 5.0 %}
            <a class="undergrade" href="/rate/3" title="Donner 3 étoiles">☆</a>
            {% else %}
            <a href="/rate/3" title="Donner 3 étoiles">☆</a>
            {% endif %}
            {% if user.get_grade('movie',movie.id) >= 3.0 %}
            <a class="undergrade" href="/rate/2" title="Donner 2 étoiles">☆</a>
            {% else %}
            <a href="/rate/2" title="Donner 2 étoiles">☆</a>
            {% endif %}
            {% if user.get_grade('movie',movie.id) >= 1.0 %}
            <a class="undergrade" href="/rate/1" title="Donner 1 étoiles">☆</a>
            {% else %}
            <a href="/rate/1" title="Donner 1 étoiles">☆</a>
            {% endif %}
            {% else %}
            <a href="/rate/5" title="Donner 5 étoiles">☆</a>
            <a href="/rate/4" title="Donner 4 étoiles">☆</a>
            <a href="/rate/3" title="Donner 3 étoiles">☆</a>
            <a href="/rate/2" title="Donner 2 étoiles">☆</a>
            <a href="/rate/1" title="Donner 1 étoile">☆</a>
            {% endif %}
        </div>
        <div class="name">
            <h1>{{movie.name}}</h1>
        </div>
        <div>
            {% if user.is_graded('movie', movie.id) %}
            Rated : {{user.get_grade('movie', movie.id)}}
            <a href="{{url_for('unrate_media', id_media=movie.id, type_media='movie')}}">
                <button class="btn btn-info mr-3">
                    Unrate
                    <i class="fa fa-times"></i>
                </button>
            </a>

            {% else %}
            <a href="{{url_for('post_media_grade', id_media=movie.id, type_media='movie')}}">
                <button class="btn btn-warning mr-3">
                    Rate
                    <i class="fa fa-clipboard"></i>
                </button>
            </a>
            {% endif %}
            {% if user.movies == None or not(user.is_in_medias(movie.id, 'movie'))%}
            <a href="{{url_for('add', id_media=movie.id, type_media='movie')}}">
                <button class="btn btn-success add">
                    <div>
                        Add
                        <i class="fa fa-plus"></i>
                    </div>
                </button>
            </a>
            {% else %}
            <a href="{{url_for('remove', id_media=movie.id, type_media='movie')}}">
                <button class="btn btn-danger">
                    <div>
                        Remove
                        <i class="fa fa-trash"></i>
                    </div>
                </button>
            </a>
            {% endif %}
        </div>
    </div>
</nav>
{% endblock %}
{% block content %}
<div class="m-3 home w-100 d-flex flex-column">
    <div class="d-flex justify-content-center">
    {% for genre in movie.genre %}
    <a href="{{url_for('genre', media='movie', genre=genre.name, page=1)}}"
                   class="m-2 badge badge-info">{{genre}}</a>
    {% endfor %}
</div>
    <div class="d-flex flex-row">
        <div class="card episode m-3">
            <div class="titre-episode card-header d-flex flex-row justify-content-between">
                {{movie.name}}
            </div>
            <div class="card-body d-flex flex-row justify-content-between">
                <img class="rounded im-episode" src="https://image.tmdb.org/t/p/w500{{movie.image}}">
                <div class="m-2">
                    {{movie.description}}
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex flex-row">
        <div class="w-100 card suggestion">
            <div class="card-header">
                Similar movies
            </div>
            <div class="card-body list">
                <div class="container">
                    <div class="row blog">
                        <div class="col-md-12">
                            <div id="blogCarousel" class="carousel slide" data-ride="carousel">

                                <ol class="carousel-indicators">
                                    <li data-target="#blogCarousel" data-slide-to="0" class="active"></li>
                                    <li data-target="#blogCarousel" data-slide-to="1"></li>
                                    <li data-target="#blogCarousel" data-slide-to="2"></li>
                                </ol>
                                <div class="carousel-inner">
                                    {% for i in range(3) %}
                                    {% if i == 0 %}
                                    <div class="carousel-item active">
                                        <div class="row">
                                            {% if similar| length > i*4 %}
                                            <div class="col-md-3">
                                                <div class="card-header name">
                                                    {{similar[i*4].name}}
                                                </div>
                                                <div class="p-0 card-body serie">
                                                    <a class="w-100 h-100" href="/movie/{{similar[i*4].id}}">
                                                        <button class="btn btn-default btn-circle">
                                                            <i class="fa fa-fw fa-plus"></i>
                                                        </button>
                                                    </a>
                                                    {% if similar[i*4].image == None %}
                                                    <img src="{{url_for('static', filename='assets/notFound.png')}}"
                                                         class="rounded">
                                                    {% else %}
                                                    <img src="https://image.tmdb.org/t/p/w500{{similar[i*4].image}}"
                                                         alt="{{similar[i*4].name}}"
                                                         class="rounded">
                                                    {% endif %}
                                                </div>
                                            </div>
                                            {% endif %}
                                            {% if similar| length > i*4+1 %}
                                            <div class="col-md-3">
                                                <div class="card-header name">
                                                    {{similar[i*4+1].name}}
                                                </div>
                                                <div class="p-0 card-body serie">
                                                    <a class="w-100 h-100" href="/movie/{{similar[i*4+1].id}}">
                                                        <button class="btn btn-default btn-circle">
                                                            <i class="fa fa-fw fa-plus"></i>
                                                        </button>
                                                    </a>
                                                    {% if similar[i*4+1].image == None %}
                                                    <img src="{{url_for('static', filename='assets/notFound.png')}}"
                                                         class="rounded">
                                                    {% else %}
                                                    <img src="https://image.tmdb.org/t/p/w500{{similar[i*4+1].image}}"
                                                         alt="{{similar[i*4+1].name}}"
                                                         class="rounded">
                                                    {% endif %}
                                                </div>
                                            </div>
                                            {% endif %}
                                            {% if similar| length > i*4+2 %}
                                            <div class="col-md-3">
                                                <div class="card-header name">
                                                    {{similar[i*4+2].name}}
                                                </div>
                                                <div class="p-0 card-body serie">
                                                    <a class="w-100 h-100" href="/movie/{{similar[i*4+2].id}}">
                                                        <button class="btn btn-default btn-circle">
                                                            <i class="fa fa-fw fa-plus"></i>
                                                        </button>
                                                    </a>
                                                    {% if similar[i*4+2].image == None %}
                                                    <img src="{{url_for('static', filename='assets/notFound.png')}}"
                                                         class="rounded">
                                                    {% else %}
                                                    <img src="https://image.tmdb.org/t/p/w500{{similar[i*4+2].image}}"
                                                         alt="{{similar[i*4+2].name}}"
                                                         class="rounded">
                                                    {% endif %}
                                                </div>
                                            </div>
                                            {% endif %}
                                            {% if similar| length > i*4+3 %}
                                            <div class="col-md-3">
                                                <div class="card-header name">
                                                    {{similar[i*4+3].name}}
                                                </div>
                                                <div class="p-0 card-body serie">
                                                    <a class="w-100 h-100" href="/movie/{{similar[i*4+3].id}}">
                                                        <button class="btn btn-default btn-circle">
                                                            <i class="fa fa-fw fa-plus"></i>
                                                        </button>
                                                    </a>
                                                    {% if similar[i*4+3].image == None %}
                                                    <img src="{{url_for('static', filename='assets/notFound.png')}}"
                                                         class="rounded">
                                                    {% else %}
                                                    <img src="https://image.tmdb.org/t/p/w500{{similar[i*4+3].image}}"
                                                         alt="{{similar[i*4+3].name}}"
                                                         class="rounded">
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                        {% endif %}
                                    </div>
                                    {% else %}
                                    <div class="carousel-item">
                                        <div class="row">
                                            {% if similar| length > i*4 %}
                                            <div class="col-md-3">
                                                <div class="card-header name">
                                                    {{similar[i*4].name}}
                                                </div>
                                                <div class="p-0 card-body serie">
                                                    <a class="w-100 h-100" href="/movie/{{similar[i*4].id}}">
                                                        <button class="btn btn-default btn-circle">
                                                            <i class="fa fa-fw fa-plus"></i>
                                                        </button>
                                                    </a>
                                                    {% if similar[i*4].image == None %}
                                                    <img src="{{url_for('static', filename='assets/notFound.png')}}"
                                                         class="rounded">
                                                    {% else %}
                                                    <img src="https://image.tmdb.org/t/p/w500{{similar[i*4].image}}"
                                                         alt="{{similar[i*4].name}}"
                                                         class="rounded">
                                                    {% endif %}
                                                </div>
                                            </div>
                                            {% endif %}
                                            {% if similar| length > i*4+1 %}
                                            <div class="col-md-3">
                                                <div class="card-header name">
                                                    {{similar[i*4+1].name}}
                                                </div>
                                                <div class="p-0 card-body serie">
                                                    <a class="w-100 h-100" href="/movie/{{similar[i*4+1].id}}">
                                                        <button class="btn btn-default btn-circle">
                                                            <i class="fa fa-fw fa-plus"></i>
                                                        </button>
                                                    </a>
                                                    {% if similar[i*4+1].image == None %}
                                                    <img src="{{url_for('static', filename='assets/notFound.png')}}"
                                                         class="rounded">
                                                    {% else %}
                                                    <img src="https://image.tmdb.org/t/p/w500{{similar[i*4+1].image}}"
                                                         alt="{{similar[i*4+1].name}}"
                                                         class="rounded">
                                                    {% endif %}
                                                </div>
                                            </div>
                                            {% endif %}
                                            {% if similar| length > i*4+2 %}
                                            <div class="col-md-3">
                                                <div class="card-header name">
                                                    {{similar[i*4+2].name}}
                                                </div>
                                                <div class="p-0 card-body serie">
                                                    <a class="w-100 h-100" href="/movie/{{similar[i*4+2].id}}">
                                                        <button class="btn btn-default btn-circle">
                                                            <i class="fa fa-fw fa-plus"></i>
                                                        </button>
                                                    </a>
                                                    {% if similar[i*4+2].image == None %}
                                                    <img src="{{url_for('static', filename='assets/notFound.png')}}"
                                                         class="rounded">
                                                    {% else %}
                                                    <img src="https://image.tmdb.org/t/p/w500{{similar[i*4+2].image}}"
                                                         alt="{{similar[i*4+2].name}}"
                                                         class="rounded">
                                                    {% endif %}
                                                </div>
                                            </div>
                                            {% endif %}
                                            {% if similar| length > i*4+3 %}
                                            <div class="col-md-3">
                                                <div class="card-header name">
                                                    {{similar[i*4+3].name}}
                                                </div>
                                                <div class="p-0 card-body serie">
                                                    <a class="w-100 h-100" href="/movie/{{similar[i*4+3].id}}">
                                                        <button class="btn btn-default btn-circle">
                                                            <i class="fa fa-fw fa-plus"></i>
                                                        </button>
                                                    </a>
                                                    {% if similar[i*4+3].image == None %}
                                                    <img src="{{url_for('static', filename='assets/notFound.png')}}"
                                                         class="rounded">
                                                    {% else %}
                                                    <img src="https://image.tmdb.org/t/p/w500{{similar[i*4+3].image}}"
                                                         alt="{{similar[i*4+3].name}}"
                                                         class="rounded">
                                                    {% endif %}
                                                </div>
                                            </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

</body>
</html>
