{% extends "base.html" %}


{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/home.css') }}">
</head>
<div class="m-3 home w-100 d-flex flex-column">
    <div class="w-100 d-flex flex-column justify-content-center welcome">
        <h1> Hi {{current_user.username}} </h1>
        <h2>Welcome to your Serie section, here are all the series you added to your list !</h2>
    </div>
    <div class="w-100 h-100% card suggestion">
        <div class="card-header">
            Your Series
        </div>
        <div class="card-body list">
            <div class="container">
                        {% if nb_series == 0 %}
                            <p>You don't have any series added to your list yet !</p>
                        {% else %}
                            {% for i in range (1+nb_series // 4)  %}
                                <div class="d-flex flex-row justify-content-around m-3">
                                    {% for j in range (4) %}
                                        {% if 4*i + j < nb_series %}
                                            <div class="col-md-3 justify-content-center">
                                                <div class="card-header name justify-content-center ">
                                                    {{list_series[4*i + j]['name']}}
                                                </div>
                                                <div class="p-0 card-body serie">
                                                    <a class="w-100 h-100 justify-content-center"
                                                       href="/serie/{{list_series[4*i + j].id}}">
                                                        <button class="btn btn-default btn-circle   ">
                                                            <i class="fa fa-fw fa-minus"></i>
                                                        </button>
                                                    </a>
                                                    <img src="https://image.tmdb.org/t/p/w500{{list_series[4*i + j]['image']}}"
                                                         alt="{{list_series[4*i + j]['name']}}"
                                                         class="rounded">
                                                </div>
                                            </div>
                                        {%endif%}
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        {% endif %}
            </div>
        </div>

    </div>
</div>

{% endblock %}

