{% extends "base.html" %}
{% block header %}
<nav class="w-100 navbar navbar-expand-lg">
    <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarSupportedContent">
        <div class="d-flex flex-row">
            <div class="ml-3">
                <div class="rating">
                    <input type="radio" id="star10" name="rating" value="10"/><label for="star10" title="Rocks!">5
                    stars</label>
                    <input type="radio" id="star9" name="rating" value="9"/><label for="star9" title="Rocks!">4
                    stars</label>
                    <input type="radio" id="star8" name="rating" value="8"/><label for="star8" title="Pretty good">3
                    stars</label>
                    <input type="radio" id="star7" name="rating" value="7"/><label for="star7" title="Pretty good">2
                    stars</label>
                    <input type="radio" id="star6" name="rating" value="6"/><label for="star6" title="Meh">1
                    star</label>
                </div>
            </div>
        </div>
        <div class="name">
            <h1>{{serie.name}}</h1>
        </div>
        <div>
            <button class="btn btn-warning mr-3">
                <div>
                    Rate
                    <i class="fa fa-check"></i>
                </div>
            </button>
            {% if user.series == None or not(user.is_in_series(serie.id)) %}
            <a href="/add/{{serie.id}}">
                <button class="btn btn-success add">
                    <div>
                        Add
                        <i class="fa fa-plus"></i>
                    </div>
                </button>
            </a>
            {% else %}
            <a href="/remove/{{serie.id}}">
                <button class="btn btn-danger">
                    <div>
                        Remove
                        <i class="fa fa-trash"></i>
                    </div>
                </button>
            </a>
            {% endif %}
        </div>
    </div>
</nav>
{% endblock %}
{% block content %}
<div class="d-flex flex-row">
     <div class="card episode m-3">
        <div class="titre-episode card-header">
            {{serie.get_episode.name}}
        </div>
        <div class="card-body d-flex flex-row justify-content-between">
            <div>
                <img class="rounded" src="https://image.tmdb.org/t/p/w500{{serie.get_episode.image}}">
            </div>
            <div class="m-2 overview">
                {{serie.get_episode.description}}
            </div>
        </div>
    </div>
    <nav id="sidebar">
        <ul class="list-unstyled components">
            {% for season in serie.seasons.keys() %}
            <li class="active">
                <a class="dropdown-toggle" data-toggle="collapse" data-target="#season{{season}}Submenu" role="button"
                   aria-expanded="false" aria-controls="season{{season}}Submenu">
                    Season {{season}}
                </a>
                <ul class="collapse list-unstyled" id="season{{season}}Submenu">
                    {% for i in range(serie.seasons[season]) %}
                    <li>
                        <a href="/serie/{{serie.id}}/season/{{season}}/episode/{{i+1}}">Episode {{i+1}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}
        </ul>
    </nav>
</div>
{% endblock %}

</body>
</html>