{% extends "media.html" %}

{% block center_media %}
<div class="d-flex flex-row justify-content-between">
    <div class="card episode m-3">
        <div class="titre-episode card-header d-flex flex-row justify-content-between">
            Season {{ episode.num_season }}, Episode {{ episode.num_episode }} :
            {{episode.name }}
            {% if user.is_in_medias(media.id, 'tv') %}
            {% if user.is_after(episode.num_season, episode.num_episode, media.id) %}
            <a href="{{url_for('next_episode', id=media.id, season=season, episode=episode.num_episode)}}"
               class="btn bton-dark">
                <i class="fa fa-eye-slash">&nbsp; Not viewed</i>
            </a>
            {% else %}
            <a class="btn bton-dark">
                <i class="fa fa-eye">&nbsp; Viewed</i>
            </a>
            {% endif %}
            {% endif %}
        </div>
        <div class="card-body d-flex flex-row justify-content-between">
            {% if episode.image == None %}
            <img class="rounded im-episode" src="{{url_for('static', filename='assets/LogoNom.png') }}">
            {% else %}
            <img class="rounded im-episode" src="https://image.tmdb.org/t/p/w500{{episode.image}}">
            {% endif %}
            <div class="m-2">
                {{episode.description}}
            </div>
        </div>
    </div>
</div>
<div class="d-flex flex-row justify-content-center">
    {% if media.get_previous_episode() != False %}
    <a href="{{ url_for('select_episode', id = media.id, season=media.get_previous_episode()[0],
        episode=media.get_previous_episode()[1])}}">
        <button class="btn btn-secondary m-2 justify-content-center">
            <i class="fas fa-angle-left"></i>
            Previous Episode
        </button>
    </a>
    {% else %}
    <a>
        <button class="btn btn-secondary m-2 justify-content-center" disabled>
            <i class="fas fa-angle-left"></i>
            Previous Episode
        </button>
    </a>
    {% endif %}
    {% if media.get_next_episode()!=False %}
    <a href="{{ url_for('select_episode', id = media.id, season=media.get_next_episode()[0],
        episode=media.get_next_episode()[1])}}">
        <button class="btn btn-secondary m-2 justify-content-center">
            Next Episode
            <i class="fas fa-angle-right"></i>
        </button>
    </a>
    {% else %}
    <a>
        <button class="btn btn-secondary m-2 justify-content-center" disabled>
            Next Episode
            <i class="fas fa-angle-right"></i>
        </button>
    </a>
    {% endif %}
</div>
{% endblock %}

{% block sidebar_media %}
    <nav id="sidebar">
        <ul class="list-unstyled components" id="seasons">
            {% for seasons in media.seasons.keys() %}
            <li class="active">
                <a class="dropdown-toggle" data-toggle="collapse" data-target="#season{{seasons}}Submenu" role="button"
                   aria-expanded="false" aria-controls="season{{seasons}}Submenu">
                    Season {{seasons}}
                </a>
                <ul class="collapse list-unstyled" id="season{{seasons}}Submenu" data-parent="#seasons">
                    {% for i in range(media.seasons[seasons]) %}
                    <li>
                        <a href="{{url_for('select_episode', id=media.id, season=seasons, episode=i+1)}}"
                        >Episode {{i+1}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}
        </ul>
    </nav>
{% endblock %}
