{% extends "base.html" %}


{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/home.css') }}">
</head>
<div class="m-3 home w-100 d-flex flex-column">
    <div class="w-100 d-flex flex-column justify-content-center welcome">
        <h1> Your upcoming episodes</h1>
    </div>
    <div class="w-100 h-100% card suggestion">
        <div class="card-body list">
            <div class="container">
                <div class="d-flex flex-row justify-content-between mb-5">
                    <div class="w-50 col-m-1 series-results">
                        <h2 class="card-header name text-center">Series where you still have episodes to see</h2>
                        {% if list_last_episode == [] %}
                            <p>You have no series not up to date</p>
                        {% else %}
                        {% for serie in list_last_episode %}
                            <h5 class="card-header name text-center">{{ serie["name"] }}</h5>
                            <div class="d-flex flex-row justify-content-between">
                                <div class="col">
                                    <div class="d-flex card-body serie-search">
                                        {% if serie.image == None %}
                                            <img src="{{url_for('static', filename='assets/notFound.png')}}"
                                                 height="250px"
                                                 width="80%"
                                                 class="rounded">
                                        {% else %}
                                            <img src="https://image.tmdb.org/t/p/w500{{serie.image}}"
                                                 alt="{{serie['name']}}"
                                                 height="250px"
                                                 width="100%"
                                                 class="rounded">
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col justify-content-between">
                                    <div class = "mb-3">
                                        <div class="name">Current Episode :</div>
                                        <a href = "{{ url_for('serie', id=serie.id) }}">
                                            <button class="btn btn-secondary mr-2 justify-content-center">
                                                <i class="fa fa-check-circle"></i>
                                                {{ user.get_last_episode_viewed(serie.id) }}
                                            </button>
                                        </a>
                                    </div>
                                    <div>
                                        <div class="name">Last Episode :</div>
                                        <a href="{{ url_for('select_episode', id = serie.id,
                                                season=serie.latest['season_number'],
                                                episode=serie.latest['episode_number']) }}">
                                            <button class="btn btn-info mr-2 justify-content-center">
                                                <i class="fa fa-check-circle"></i>
                                                S{{ serie.latest['season_number'] }}E{{ serie.latest['episode_number'] }}
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        {% endif %}
                    </div>
                    <div class="w-50 col-m-1 series-results">
                        <h2 class="card-header name text-center">Series where you are waiting for the next episode</h2>
                        {% if list_last_episode == [] %}
                            <p>You have no series up to date : binge watch a little more !</p>
                        {% else %}
                        {% for serie in list_next_episode %}
                            <h5 class="card-header name text-center">{{ serie["name"] }}</h5>
                            <div class="d-flex flex-row justify-content-between">
                                <div class="col">
                                    <div class="d-flex card-body serie-search">
                                        {% if serie.image == None %}
                                            <img src="{{url_for('static', filename='assets/notFound.png')}}"
                                                 height="250px"
                                                 width="80%"
                                                 class="rounded">
                                        {% else %}
                                            <img src="https://image.tmdb.org/t/p/w500{{serie.image}}"
                                                 alt="{{serie['name']}}"
                                                 height="250px"
                                                 width="100%"
                                                 class="rounded">
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col justify-content-between">
                                    <div class="mb-3">
                                        <div class="name">Current Episode :</div>
                                        <a href = "{{ url_for('serie', id=serie.id) }}">
                                            <button class="btn btn-secondary mr-2 justify-content-center">
                                                <i class="fa fa-check-circle"></i>
                                                {{ user.get_last_episode_viewed(serie.id) }}
                                            </button>
                                        </a>
                                    </div>
                                    <div>
                                        <div class="name">Next Episode :</div>
                                        <button class="btn btn-info mr-2 justify-content-center">
                                            <i class="fa fa-calendar"></i>
                                            Date : {{ serie.date }}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>

            </div>
            <div class="container">
                <h2 class="card-header name text-center">Series that you finished</h2>
                <div class="d-flex flex-row justify-content-between mt-5">
                    <div class="row ml-0">
                        {% if list_finished == [] %}
                            <p>No finished series...</p>
                        {% else %}
                            {% for i in range(1 + (list_finished| length)//4) %}
                                <div class="w-100 row justify-content-around">
                                    {% for j in range(4) %}
                                        {% if 4*i + j < (list_finished| length) %}
                                            <div class="col justify-content-center">
                                                <div class="card-header name genre">
                                                    {{list_finished[4*i+j]['name']}}
                                                </div>
                                                <div class="p-0 card-body serie justify-content-center">
                                                    <a class="w-100 h-100" href="/tv/{{list_finished[4*i+j].id}}">
                                                        <button class="btn btn-default btn-circle justify-content-center">
                                                            <i class="fa fa-fw fa-plus"></i>
                                                        </button>
                                                    </a>
                                                    <img src="https://image.tmdb.org/t/p/w500{{list_finished[4*i+j].image}}"
                                                         alt="{{list_finished[4*i+j]['name']}}"
                                                         class="rounded justify-content-center">
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor%}
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
